
         <%= image_tag user.get_profile_image(100,100), class: "rounded-circle"; %>
         <h5 class="font-weight-bold"><%= user.name %></h5>
         お気に入り<%= link_to favorites_user_path(@user) do %> 
            <i class="fa-solid fa-heart" style="color: red;"></i><br>
         <% end %>
         
         
          <div class="card">
            <div class="card-header">
             自己紹介
            </div>
              <div class="card-body">
               <p class="card-text">
                 <%= user.introduction %>
               </p>
              </div>
            <div class="card-footer">
              <% if user == current_user && user.name != "guestuser" %>
                <%= link_to edit_user_path(user), class: "btn btn-outline-success" do %>
                  編集
                <% end %>
                <%= link_to new_post_path, class: "btn btn-outline-primary" do %>
                    投稿する
                <% end %>
              <% end %>
            </div>
          </div>