<%= render "public/shared/header" %>

<% if user_signed_in? %>

 <%= image_tag current_user.get_profile_image(200, 200) %>
 <%= current_user.name %>
 <%= link_to new_post_path do %>
     <i class="fa-solid fa-pen-to-square"></i>
 <% end %>

<% end %>



<%= form_with model: @post, method: :get do %>
   <%= text_field_tag :tag %>
   <%= submit_tag 'タグを追加' %>
<% end %>



<%= form_with model: @post, method: :get do %>


    <% Tag.all.each do |t| %>
        <li><%= check_box :tag_ids, t.tag_name %><%= t.tag_name %></li>
    <% end %>

    <%= submit_tag '検索' %>
    
<% end %>



<h1>みんなの投稿一覧</h1>


<% @posts.each do |post| %>

<% post.tags.each do |tag| %>
    <span><%= tag.tag_name %></span>
<% end %>

<%= link_to post_path(post) do %>
    <%= image_tag post.get_image(200, 200) %><br>
<% end %>

<p><%= l post.created_at %></p>
<p><%= post.title %></p>
<div class="d-inline-block text-ttuncate">
  <%= post.body %>
</div>


<%= link_to user_path(post.user.id) do %>
  <%= image_tag post.user.get_profile_image(200, 200) %><br>
<% end %>
<%= post.user.name %><br>

<p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>

<% end %>
