<%= render "public/shared/header" %>

<div class="container-fluid">
 <div class="row">
    
    <div class="col-md-3">
     <div class="bg-success p-1 text-dark bg-opacity-25">
 
      <%= render "public/shared/side" %>
 
     </div>
    </div>
    
    
    <div class="col-md-9">

        <% if @model == 'user' %>
	        <h3 class="fw-bold">ユーザーで検索 "<%= @content %>"</h3>
            <%= render 'public/users/search_index', users: @records %>
  
        <% elsif @model == 'post' %>
        	<h3 class="fw-bold">投稿で検索 "<%= @content %>"</h3>
            <%= render 'public/posts/search_index', posts: @records %>
        <% end %>
        
    </div>
 </div>
</div>
