<%= render "admin/shared/header" %>

<div class="container">
 
     
    <h1 class="font-weight-bold">検索結果</h1>
    
        <% if @model == 'user' %>
        
	        <h3 class="fw-bold">ユーザーで検索 "<%= @content %>"</h3>
            <%= render 'admin/users/search_index', users: @records %>
    
        
        <% elsif @model == 'post' %>
        	<h3 class="fw-bold">投稿で検索 "<%= @content %>"</h3>
            <%= render 'admin/posts/search_index', posts: @records %>
        <% end %>
        
    
</div>

