  <div class="d-flex justify-content-sm-center">
    <table class='table table-hover table-inverse mt-5'>
      <thead>
        <tr>
          <th></th>
          <th>ユーザー名</th>
          <th>投稿数</th>
          <th>コメント</th>
        </tr>
      </thead>
      <tbody>
          
        <% users.reverse.each do |user| %>
         <tr>
          <td>
            <%= link_to admin_user_path(user) do %>
                <%= image_tag user.get_profile_image(100, 100), class: "img-thumbnail" %><br>
            <% end %>
          </td>
          <td>
            <div class="fw-normal"><%= user.name %></div>
          </td>
          <td><%= user.posts.count %></td>
          <td>
            <i class="fa-regular fa-comment-dots"></i><%= "#{user.post_comments.count}" %>
          </td>
         </tr>
        <% end %>
      </tbody>
    </table>
  </div>
