<%= render "admin/shared/header" %>
<h1>会員一覧</h1>

<% @users.each do |user| %>

  <%= user.id %>

  <%= link_to admin_user_path(user.id) do %>
    <%= image_tag user.get_profile_image(200,200) %>
    <%= user.name %>
  <% end %>
  投稿数<%= user.posts.count %>
  コメント数<%= user.post_comments.count %>

<% end %>

<%= paginate @users %>