<%= render "admin/shared/header" %>


<h1>ユーザー詳細</h1>

<div>
  <%= image_tag @user.get_profile_image(200,200) %>
  <h3><%= @user.name %></h3>
  <p><%= @user.introduction %></p>
  <%= link_to admin_user_path(@user), class: "btn btn-outline-danger", method: :delete, "data-confirm" => "このユーザーの全てのデータが消えますが、本当に削除しますか?" do %>
    このユーザーを削除する
  <% end %>
</div>



<h4><%= @user.name %>さんの投稿一覧</h4>
<% @posts.each do |post| %>

<div>
<%= link_to admin_post_path(post.id) do %>
  <%= image_tag post.get_image(100,100) %>
<% end %>

  <%= l post.created_at %>
  <p>タイトル：<%= post.title %></p>
  <p>本文<%= post.body %></p>
  <p>コメント件数</p>
  <p><%= link_to "#{post.post_comments.count} コメント", admin_post_path(post.id) %></p>
</div>


<% end %>
<%= paginate @posts %>
