<%= render "public/shared/header" %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
       <% if @user.errors.any? %>
        <%= @user.errors.count %>件のエラーが発生しました
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li class="font-weight-bold text-danger">
              <%= message %>
            </li>
          <% end %>
        </ul>
      <% end %>
      
     
      <h1 class="font-weight-bold mb-5">プロフィール編集</h1>
  
        <%= form_with model: @user, url: user_path(@user), method: :patch do |f| %>

          <div class="form-group font-weight-bold mb-3">
            <label for="inputImage">ProfileImage</label><br>
            <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
          </div>
          
          
          <div class="form-group font-weight-bold mb-3">
            <label for="inputName" >Name</label>
            <div class="field_with_errors">
              <%= f.text_field :name, autofocus: true, id: "inputName", placeholder: "名前" %>
            </div>
          </div>



          <div class="form-group font-weight-bold mb-3">
            <label for="user_introduction">Introduction</label>
            <div class="field_with_errors">
              <%= f.text_area :introduction, placeholder: "自己紹介", class: "form-control introduction" %>
            </div>
          </div>

          <div class="form-group mt-3">
            <div class="field_with_errors"><%= f.submit "変更を保存", class: "btn btn-outline-success" %></div>
          </div>

        <% end %>
        <%= link_to withdraw_user_path(@user), class: "btn btn-outline-danger mt-4" do %>
          退会する
        <% end %>
    </div>
  </div>
</div>

